html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #F2F2F2;
}

ol, ul {
  list-style: none;
}

a:visited {
  color:#F2F2F2;
}

a:focus {
  color: firebrick;
}

button:visited {
  background: #060608;
}

body {
    font-family: 'Roboto';
    background-color: #060608;
    ;
}

ul {
  position: fixed;
}

